body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f5;
  margin: 0;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
}

.header nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  flex-wrap: wrap; /* Permitir que los elementos de la lista se envuelvan */
}

.header nav ul li {
  color: white;
  cursor: pointer;
}

/* Contenedor de imágenes para que se alineen horizontalmente */
.image-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espacio entre las imágenes */
  margin: 20px 0;
  flex-wrap: wrap; /* Permitir que las imágenes se envuelvan en pantallas pequeñas */
}

.image-container img {
  height: auto; /* Mantener proporción */
  max-height: 400px; /* Mantener la altura máxima de las imágenes */
  width: auto; /* Mantener proporción */
  max-width: 100%; /* Ajustar el ancho para que no sobrepase el contenedor */
}

/* Video centrado */
.video-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

video {
  height: 400px; /* Altura fija del video */
  width: auto; /* Mantener proporción del video */
  max-width: 100%; /* Asegura que no exceda el ancho de su contenedor */
}

/* Formulario centrado con tamaño reducido */
.form-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.form-container {
  background-color: #fff;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%; /* Asegura que el formulario ocupe el 100% del ancho disponible */
}

h2 {
  text-align: center;
  color: black; /* Color de las letras del título */
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
  color: black; /* Color de las letras de las etiquetas */
}

input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
}

input.error{
  border-color: #F00;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  padding: 10px;
  font-size: 14px;
  color: white;
  background-color: #000; /* Botones negros */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #333; /* Botón negro oscuro en hover */
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end; /* Mover los iconos hacia el margen derecho */
  align-items: center;
  position: relative;
}

footer img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  cursor: pointer;
}

/* Media Queries para mejorar la responsividad */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .image-container {
    flex-direction: column;
    align-items: center;
  }

  .form-container {
    padding: 30px;
    max-width: 90%;
  }
}

/* Estilo para las secciones */
section {
  padding: 20px;
  margin: 20px 0;
}

#inicio, #conocenos, #disponibilidad {
  background-color: #f4f4f4;
  margin: 10px 0;
}

/* Estilo de las Cards */
.card {
  background-color: #333;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.095);
  padding: 20px;
  margin: 20px;
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.card h2 {
  color: white;
}

/* Estilo para los botones de las Cards */
.card .btn-whatsapp {
  background-color: #25d366;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}

.card .btn-whatsapp:hover {
  background-color: #128c7e;
}

/* Card "Conocenos" */
.cardconocenos {
  background-color: rgba(0, 0, 0, 0.781);
  color: white;
  border: 5px solid;
  border-image: linear-gradient(45deg, red, blue, green, yellow, purple);
  border-image-slice: 1;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  height: 400px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardconocenos h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.cardconocenos .p {
  font-size: 16px;
  margin-bottom: 15px;
}

.cardconocenos .titulo {
  font-size: 24px;
  color: white;
  margin-bottom: 15px;
}
